   <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"> Form Modal</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="cname" placeholder="Company Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">GST No </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="gno" placeholder="If Register">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">ARN No</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="ano" placeholder="ARN No">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="address" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Customer Place Of Supply</label>
                            <div class="col-sm-10">
                            <select id="place" style="margin: 40px;background: white;color: black;">
                            <option>01-Jammu & Kashmir</option>
                            <option>02-Himachal Pradesh</option>
                            <option>03-Punjab</option>
                            <option>04-Chandigarh</option>
                            <option>05-Uttarakhand</option>
                            <option>06-Haryana</option>
                            <option>07-Delhi</option>
                            <option>08-Rajasthan</option>
                            <option>09-Uttar Pradesh</option>
                            <option>10-Bihar</option>
                            <option>11-Sikkim</option>
                            <option>12-Arunachal Pradesh</option>
                            <option>13-Nagaland</option>
                            <option>14-Manipur</option>
                            <option>15-Mizoram</option>
                            <option>16-Tripura</option>
                            <option>17-Meghalaya</option>
                            <option>18-Assam</option>
                            <option>19-West Bengal</option>
                            <option>20-Jharkhand</option>
                            <option>21-Odisha</option>
                            <option>22-Chhattisgarh</option>
                            <option>23-Madhya Pradesh</option>
                            <option>24-Gujarat</option>
                            <option>25-Daman & Diu</option>
                            <option>26-Dadra & Nagar Haveli</option>
                            <option>27-Maharashtra</option>
                            <option>29-Karnataka</option>
                            <option>30-Goa</option>
                            <option>31-Lakshdweep</option>
                            <option>32-Kerala</option>
                            <option>33-Tamil Nadu</option>
                            <option>34-Pondicherry</option>
                            <option>35-Andaman & Nicobar Islands</option>
                            <option>36-Telangana</option>
                            <option>37-Andhra Pradesh</option>
                            <option>97-Other Territory</option>
                            </select>
                          </div>
                        </div>


                        <div class="form-group">
                            <label for="cno" class="col-sm-2 control-label">Contact Number</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="Contactno" placeholder="Contact Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Contact Person Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="personno" placeholder="Contact Person Name">
                            </div>
                        </div>

                      

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">  Name Of Service</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="serviceno" placeholder="Name Of Service">
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">   Service Acc Code</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="acccode" placeholder="Service Acc Code">
                            </div>
                        </div>

                        


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">   PAN No</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="panno" placeholder="PAN No">
                            </div>
                        </div>

                        
                        <div class="form-group">&nbsp;&nbsp;&nbsp;
                        <label class="col-sm-15 control-label">Select Customer Type</label><br/>

                                <select id="ctype" style="margin: 40px;background: white;color: black;">
                                  
                                  <option>E-Commerce GSTIN</option>
                                  <option>Regular</option>
                                </select>
                                 
                                   
                                  
                        </div>

                        </div>


                        <button type="button" class="btn btn-primary" onclick="test();">submit</button>


                    <button type="button" class="btn btn-default" data-dismiss="modal"">Close</button>
                    
               



                     
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

      function test(){
      var a = $("#cname").val();
      var b = $("#gno").val();
      var c = $("#ano").val();
      var d = $("#address").val();
      var e = $("#Contactno").val();
      var f = $("#serviceno").val();
      var g = $("#panno").val();
      var h = $("#Contactno").val();
      var i = $("#personno").val();
      var j = $("#acccode").val();
      var k = $("#place").val();
      var l = $("#ctype").val();

      var person = {customer:{
      customer_name: a,
      gstin_no_reg: b,
      arn_no: c,
      address: d,
      cust_place_of_supply: k,
      customer_cust_name_of_commodity_supplied: h,
      customer_cust_tarrif_no: i,
      cust_name_of_service: f,
      cust_serv_acc_code: j,
      cust_pan_no: g,
      customer_type: l

            }
        }

        $.ajax({
            url: '/customers',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                alert(data);
            },
            data: person
        });

        reload();

    }

    function reload(){
      location.reload();
    }
   

      

    </script>

